#cena,#kol{
    border: 1px solid black;
}
body{
    background-image: url("keks.jpg");
}
main{
    margin-top: 10px;
    background-color: #f8b2b6;
    width: 50%;
    border: 1px solid black;
    margin: auto;
}
